
<ion-item>
  <ion-label>
    <h1>Circulo</h1>
    <h2>Perimetro</h2>
    <p>El perimetro del circulo es la longitud que forma su borde</p>
  </ion-label>
</ion-item>
<ion-item>
  <ion-img src="assets\image\circulo.png" alt="Descripción de la imagen"></ion-img>
</ion-item>
<ion-item>
  <ion-input  label="radio (cm)" type="number" labelPlacement="stacked" placeholder="ingresa al radio "></ion-input>
</ion-item>
<ion-item>
  <ion-button (click)="CalcularPerimetro()" size="default">Calcular perimetro</ion-button>
</ion-item>
<ion-item>
  <p>El perimetro del circulo es </p>
</ion-item>